---
{
	"title": "WxT Dataviz Framework - Demo 1",
	"language": "fr",
	"altLangPrefix": "demo",
	"altLangPage": "demo1-en.html",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2021-12-01",
	"share": "true"
}
---
{% include components/inc-byline.html %}

<div class="d3-chart d3-pie" id="my-dataviz-pie-3" name="my-table" params='{"plot_type":"column","column":"2","exclude_row":"15"}'>&nbsp;</div>

<table id="my-table">
	<caption>
	<p>Net Federal Tax by Province or Territory</p>
	</caption>
	<thead>
		<tr>
			<th scope="row">Province or Territory</th>
			<th scope="col">$45,916 or less</th>
			<th scope="col">$45,917 - $91,831</th>
			<th scope="col">$91,832 - $142,353</th>
			<th scope="col">$142,354 - $202,800</th>
			<th scope="col">$202,801 or more</th>
			<th scope="col">All Brackets</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Newfoundland and Labrador</th>
			<td>295540</td>
			<td>95480</td>
			<td>22800</td>
			<td>6550</td>
			<td>3620</td>
			<td>423990</td>
		</tr>
		<tr>
			<th scope="row">Prince Edward Island</th>
			<td>84280</td>
			<td>27180</td>
			<td>3720</td>
			<td>1000</td>
			<td>620</td>
			<td>116790</td>
		</tr>
		<tr>
			<th scope="row">Nova Scotia</th>
			<td>522960</td>
			<td>175640</td>
			<td>30800</td>
			<td>7790</td>
			<td>5060</td>
			<td>742250</td>
		</tr>
		<tr>
			<th scope="row">New Brunswick</th>
			<td>444660</td>
			<td>134190</td>
			<td>21140</td>
			<td>5180</td>
			<td>3190</td>
			<td>608350</td>
		</tr>
		<tr>
			<th scope="row">Quebec</th>
			<td>4626080</td>
			<td>1555870</td>
			<td>262810</td>
			<td>63240</td>
			<td>55090</td>
			<td>6563090</td>
		</tr>
		<tr>
			<th scope="row">Ontario</th>
			<td>6830300</td>
			<td>2726210</td>
			<td>645870</td>
			<td>181410</td>
			<td>154470</td>
			<td>10538260</td>
		</tr>
		<tr>
			<th scope="row">Manitoba</th>
			<td>670210</td>
			<td>240930</td>
			<td>43710</td>
			<td>9980</td>
			<td>8080</td>
			<td>972900</td>
		</tr>
		<tr>
			<th scope="row">Saskatchewan</th>
			<td>530440</td>
			<td>226680</td>
			<td>57170</td>
			<td>15390</td>
			<td>8300</td>
			<td>837980</td>
		</tr>
		<tr>
			<th scope="row">Alberta</th>
			<td>1774590</td>
			<td>855580</td>
			<td>267920</td>
			<td>91160</td>
			<td>69820</td>
			<td>3059060</td>
		</tr>
		<tr>
			<th scope="row">British Columbia</th>
			<td>2459710</td>
			<td>947700</td>
			<td>227570</td>
			<td>66640</td>
			<td>52860</td>
			<td>3754480</td>
		</tr>
		<tr>
			<th scope="row">Northwest Territories</th>
			<td>17220</td>
			<td>8850</td>
			<td>4130</td>
			<td>830</td>
			<td>370</td>
			<td>31390</td>
		</tr>
		<tr>
			<th scope="row">Yukon</th>
			<td>16220</td>
			<td>9440</td>
			<td>2100</td>
			<td>440</td>
			<td>240</td>
			<td>28430</td>
		</tr>
		<tr>
			<th scope="row">Nunavut</th>
			<td>14270</td>
			<td>4620</td>
			<td>2540</td>
			<td>500</td>
			<td>160</td>
			<td>22090</td>
		</tr>
		<tr>
			<th scope="row">Non-resident</th>
			<td>135200</td>
			<td>6990</td>
			<td>3070</td>
			<td>1320</td>
			<td>2280</td>
			<td>148850</td>
		</tr>
		<tr>
			<th scope="row">All Canada</th>
			<td>18421660</td>
			<td>7015350</td>
			<td>1595340</td>
			<td>451420</td>
			<td>364140</td>
			<td>27847910</td>
		</tr>
	</tbody>
</table>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="jquery.min.js"></script>
<script src="script.js"></script>
