---
{
	"title": "WxT Dataviz Framework - Demo 1",
	"language": "fr",
	"altLangPrefix": "demo",
	"altLangPage": "demo1-en.html",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2021-12-01",
	"share": "true"
}
---
{% include components/inc-byline.html %}

<table>
	<thead>
		<tr>
			<th scope="col">Component name</th>
			<th scope="col">Status</th>
			<th scope="col">&nbsp;</th>
			<th scope="col">&nbsp;</th>
			<th scope="col">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Footnotes</td>
			<td>WxT patch pending</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Alert</td>
			<td>WxT patch pending</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Table of contents</td>
			<td>WxT patch pending</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Abbreviations</td>
			<td>WxT patch pending</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Panel</td>
			<td>In WxT</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Details (collapsible section)</td>
			<td>In WxT</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
