---
{
	"title": "Individual Taxfilers by Province or Territory and Tax Bracket - Donut 2 - Table",
	"language": "en",
	"altLangPrefix": "donut",
	"altLangPage": "donut1-fr.html",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2021-11-17",
	"share": "true"
}
---
{% include components/inc-byline.html %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id leo porttitor, auctor lorem quis, tempor neque. Curabitur gravida bibendum eros vitae porta. Maecenas eget magna a sapien sodales mattis. Sed faucibus nulla vel leo auctor elementum. </p>

<div class="row">
  <div class="col-md-3">
    <h2 class="h4">Data Filters</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="d3-filters"></div>
  </div>
  <div class="col-md-9">
    <h2 class="h4">Donut Chart</h2>
    <p>In quam purus, fringilla sit amet malesuada eget, gravida eu justo. Nullam vehicula porta quam eget euismod. Quisque mattis, tellus vitae volutpat sollicitudin, ante enim tristique mi, in porttitor turpis diam non est. </p>
    <div class="alert alert-info">
      <p><strong>TIP:</strong> Etiam augue ipsum, efficitur varius consequat eget, commodo sed lorem. Mauris convallis posuere risus, ut sagittis nisi porta quis.</p>
    </div>
    <div class="d3-chart d3-pie" id="my-dataviz-pie-1" data-name="my-csv" data-params='{"plot_type":"column","column":"2","exclude_row":"15"}'></div>
  </div>
</div>
<h2 class="h4">Bar Chart</h2>
<p>In quam purus, fringilla sit amet malesuada eget, gravida eu justo. Nullam vehicula porta quam eget euismod. Quisque mattis, tellus vitae volutpat sollicitudin, ante enim tristique mi, in porttitor turpis diam non est. </p>
<div class="alert alert-info">
  <p><strong>TIP:</strong> Etiam augue ipsum, efficitur varius consequat eget, commodo sed lorem. Mauris convallis posuere risus, ut sagittis nisi porta quis.</p>
</div>

<div class="d3-chart d3-bar" id="my-dataviz-bar-1" data-name="my-csv" data-params='{"plot_type":"column","column":"2","exclude_row":"15"}'></div>

<h2 class="h4">Data Table</h2>
<p>In quam purus, fringilla sit amet malesuada eget, gravida eu justo. Nullam vehicula porta quam eget euismod. Quisque mattis, tellus vitae volutpat sollicitudin, ante enim tristique mi, in porttitor turpis diam non est. </p>
<div class="d3-chart d3-table" id="my-dataviz-table-1" data-name="my-csv" data-params='{"plot_type":"column","column":"2","exclude_row":"15"}'></div>

<!-- Download link CSV -->
<h2>Download links/Source Data</h2>
<div class="well">
  <a id="my-csv" href="tbl01-en.csv">Document title (CSV, 273 KB)</a>
</div>

<script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="jquery.min.js"></script>
<script src="merge.js"></script>
