---
{
	"title": "CRA data viz demo - Donut 1",
	"language": "en",
	"altLangPrefix": "donut",
	"altLangPage": "donut1-fr.html",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2021-11-17",
	"share": "true"
}
---
{% include components/inc-byline.html %}

<h2 >My Dataviz Demo for CRA</h2>

<div class="row">
	<div class="col-md-3">
		<form action="" class="donut-labels">
		</form>
	</div>

	<div class="col-md-9">
		<div class="donut-chart">
		</div>
	</div>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="script.js"></script>
