.bars rect {
    transition: fill 350ms;
}

/* .stacks rect {
    transition: all 750ms;
} */

.d3-table th:first-letter {
    text-transform: uppercase;
}

.slice {
    stroke: white;
    stroke-width: 1px;
}

.slice.slice-hover {
    filter: brightness(1.0);
    transition: filter 350ms;
}

.slice.slice-hover:hover {
    filter: brightness(0.8);
}

.d3-chart .tooltip {
    pointer-events: none;
}

[class*="col-lg-"]:not(.col-lg-12) .d3-bar, [class*="col-lg-"]:not(.col-lg-12) .d3-stack,
[class*="col-md-"]:not(.col-md-12) .d3-bar, [class*="col-md-"]:not(.col-md-12) .d3-stack,
[class*="col-sm-"]:not(.col-sm-12) .d3-bar, [class*="col-sm-"]:not(.col-sm-12) .d3-stack,
[class*="col-xs-"]:not(.col-xs-12) .d3-bar, [class*="col-xs-"]:not(.col-xs-12) .d3-stack,
.mediumview .d3-stack, .mediumview .d3-bar, 
.smallview .d3-stack, .smallview .d3-bar, 
.xsmallview .d3-stack, .xsmallview .d3-bar {
    overflow-x: scroll;
}

.legend-entry {
	position: relative;
}

.legend-entry p {
	font-size: 18px;
	line-height: 1.4em;
	margin: 0 0 5px 30px;
}

.legend-color {
	position: absolute;
	top: 2px;
	left: 0;
}

.d3-pie-fig figcaption,
.d3-stack-fig figcaption,
.d3-bar-fig figcaption {
	margin-bottom: 11.5px;
}

.mediumview .d3-pie > .row,
.largeview .d3-pie > .row,
.xlargeview .d3-pie > .row {
	display: -ms-flexbox;
	display: flex;
	align-items: start;
}

/* .grid-x .tick, .grid-y .tick {
    transition: 500ms;
} */
