---
{
	"title": "Individual Taxfilers by Province or Territory and Tax Bracket",
	"language": "en",
	"altLangPrefix": "donut",
	"altLangPage": "donut1-fr.html",
	"pageclass": "cnt-wdth",
	"breadcrumbs":  [
		{ "title": "Canada Revenue Agency", "link": "https://www.canada.ca/en/revenue-agency.html" },
		{ "title": "Income Statistics and GST/HST Statistics", "link": "https://www.canada.ca/en/revenue-agency/programs/about-canada-revenue-agency-cra/income-statistics-gst-hst-statistics.html" },
		{ "title": "Individual Tax Statistics by Tax Bracket (ITSTB)", "link": "https://www.canada.ca/en/revenue-agency/programs/about-canada-revenue-agency-cra/income-statistics-gst-hst-statistics/individual-tax-statistics-tax-bracket.html" }
	],
	"secondlevel": false,
	"dateModified": "2021-11-17",
	"share": "true"
}
---
{% include components/inc-byline.html %}
<link rel="stylesheet" href="style.css" />
<p>Testing this page for footer.</p>

