---
{
	"title": "CRA data viz demo - Donut 1",
	"language": "fr",
	"altLangPrefix": "donut",
	"altLangPage": "donut1-en.html",
	"pageclass": "cnt-wdth-lmtd",
	"breadcrumb": [
		{ "title": "Canada.ca", "link": "https://www.canada.ca/en.html" }
	],
	"secondlevel": false,
	"dateModified": "2021-11-17",
	"share": "true"
}
---
{% include components/inc-byline.html %}

<h2 >Blank FRENCH Dataviz Demo for CRA</h2>

<form action="">
</form>
<div class="donut-chart">
  
</div>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="script.js"></script>
